.sidebar {
    height: 100%;
    width: 4rem;
    background-color: #1B1D29;
    display: flex;
    flex-direction: column;

    .linkMenu {
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        &:hover {
            background-color: #252835;
            transition: 0.2s;
            cursor: pointer;
        }
    }
}