.card1 {
    background-color: #6650f0;
    padding: 4rem;
    margin: 2rem;
    border-radius: 1.5rem;

    input {
        border: none;
        padding: 1rem;
        outline: none;
        background-color: #ffffff;
        font-size: 1.2rem;
    }
}

.card2 {
    background-color: #ffffff;
    padding: 4rem;
    margin: 2rem;
    border-radius: 1.5rem;

    input {
        border: none;
        padding: 1rem;
        outline: none;
        background-color: #000;
        font-size: 1.2rem;
    }
}