.pageCompanies {
    display: flex;
    justify-content: center;
    width: 100%;
    @media(max-width:900px){
       align-items: center;
    }

    .card {
        height: 100%;
        width: 80%;
        border-radius: 4px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px #00000042;

        @media(max-width:900px){
            width: 100%;
        }

        .headerCard {
            height: 3rem;
            width: 100%;
            background-color: #1B1D29;
            display: flex;
            align-items: center;
            color: #fff;
            padding: 0 2rem;
        }
        .DeleteBtn{
            background-color: #252835;
            color: #ffffff;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: 0.2s;
            border: none;
            width: 6rem;
            height: 2rem;
            margin-left: 0.5rem;
    
            &:hover {
                color: #b6b4b4;
            }
        }
    }
}