.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #fff 20% 60%, #6650f0 40% 40%);

    .cards {
        display: flex;
        justify-content: space-around;
        width: 100%;
        
    }
}

.card1 {
    background-color: #fff;
    padding: 3rem;
    margin: 2rem;
    border-radius: 1.5rem;

    input {
        border: none;
        padding: 0.5rem;
        outline: none;
        background-color: #ffffff;
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
        border-bottom: 3px solid #6650f0;
    }
}

.card2 {
    background-color: #ffffff;
    padding: 3rem;
    margin: 2rem;
    border-radius: 1.5rem;
    
    input {
        border: none;
        padding: 0.5rem;
        outline: none;
        background-color: #ffffff;
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
    }
}