.form {
    // height: 100%;
    display: flex;
    justify-content: center;
    .card {
        width: 50%;
        // height: 100%;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px #00000042;
        padding-bottom: 3rem;

        .headerCard{
            height: 3.5rem;
            width: 100%;
            background-color: #1B1D29;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            padding: 0 2rem;

        }

        button {
            background-color: #252835;
            color: #ffffff;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: 0.2s;
            border: none;
            width: 50%;
            height: 3rem;

            &:hover {
                color: #b6b4b4;
            }
        }

        .section {
            display: grid;
            grid-template-columns: 1fr 1fr ;
            align-items: center;
            justify-content: center;
            width: 100%;            
            
            div {
                display: flex;
                flex-direction: column;
                padding: 1rem 1rem;

                label {
                    font-size: 0.9rem;
                    color: #1B1D29;
                    font-weight: 700;
                }

                input {
                    margin: 0.3rem 0.5rem 0.5rem 0;
                    color: #1B1D29;
                    border: none;
                    border-bottom: 2px solid #E5E5E5;
                    padding: 0.4rem ;
                }
            }
        }
    }
}